name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uvx --from build pyproject-build --sdist --wheel
      - run: uvx twine check dist/*
      - uses: actions/upload-artifact@v6
        with:
          path: dist/*
  pytest-python:
    name: PyTest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        django-version:
          - "5.2" # LTS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: |
          cd tests
          npm install
      - run: uv run tests/manage.py collectstatic --noinput
      - run: uv run ${{ matrix.extras }} --with django~=${{ matrix.django-version }}.0 pytest
      - uses: codecov/codecov-action@v5
        with:
          flags: py${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
  pytest-django:
    name: PyTest
    strategy:
      matrix:
        python-version:
          - "3.12"
        django-version:
          # oldest LTS gets tested on all Python versions
          - "5.1"
          - "5.2"
          - "6.0"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: |
          cd tests
          npm install
      - run: uv run tests/manage.py collectstatic --noinput
      - run: uv run ${{ matrix.extras }} --with django~=${{ matrix.django-version }}.0 pytest
      - uses: codecov/codecov-action@v5
        with:
          flags: dj${{ matrix.django-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
  pytest-extras:
    name: PyTest
    strategy:
      matrix:
        extras:
          - "--extra whitenoise"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: |
          cd tests
          npm install
      - run: uv run tests/manage.py collectstatic --noinput
      - run: uv run ${{ matrix.extras }} pytest
      - uses: codecov/codecov-action@v5
        with:
          flags: dj${{ matrix.extras }}
          token: ${{ secrets.CODECOV_TOKEN }}
